 Goal of the Dataset:

The goal of this dataset is to predict housing prices based on multiple features such as the number of bedrooms, lot size, number of bathrooms, and other related characteristics.
This dataset helps in building regression models that estimate the selling price of a house given various attributes.

 Dataset Source:

This dataset was obtained from Kaggle, a popular platform for datasets and machine learning challenges.

Link to the dataset: [Housing Prices Dataset on Kaggle](https://www.kaggle.com/datasets/yasserh/housing-prices-dataset)

In [10]:
import piplite
await piplite.install('seaborn')

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# from sklearn.datasets import load_Housing

Housing = pd.read_csv('Housing.csv')

Housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [2]:
Housing.shape[1]

13

In [3]:
Housing.shape[0]

545

In [4]:
# Get the number of rows and columns
Housing.shape

(545, 13)

In [5]:
# Display the column names
Housing.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [6]:
# Column names and types
Housing.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [7]:
# Display basic statistics about the target variable
target_variable_stats = Housing['price'].describe()
target_variable_range = Housing['price'].min(), Housing['price'].max()

target_variable_stats, target_variable_range

(count    5.450000e+02
 mean     4.766729e+06
 std      1.870440e+06
 min      1.750000e+06
 25%      3.430000e+06
 50%      4.340000e+06
 75%      5.740000e+06
 max      1.330000e+07
 Name: price, dtype: float64,
 (1750000, 13300000))

In [8]:
# Target Variable

# In this dataset, the target variable is `price`, which represents the selling price of the houses. This is a continuous numerical variable used for regression analysis.

#  Target Variable Details:
# - Name: `price`
# - Type: Numerical (Continuous)
# - Range: From 1,750,000 to 13,300,000
# - Statistics:
# - Mean: 4,766,729
# - Standard Deviation: 1,870,440
# - Median: 4,340,000
# - Minimum Value: 1,750,000
# - 25th Percentile: 3,430,000
# - 75th Percentile: 5,740,000
# - Maximum Value: 13,300,000